/*主体页头*/
.page-header {
    margin-top: -8px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.table-bordered > thead > tr > th,.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.base-color {
    background-color: #a27440;
    color: white;
}
.left-side-bar {
    background-color: #fff;
    height: 555px;
    border-radius: 4px;
    padding-top: 15px;

}
.left-side-header {
    font-weight: 900;
    font-size: 20px;
    padding-left: 35px;
}
.left-side-header a {
    color: #000;
}
.left-side-bar > div {
    background-color: #fff;
}
.course-python,.course-h5,.course-back {
    padding-left: 15px;
}
.right-side {
    height: 555px;
}
.right-side-content {
    height: 555px;
}
.pagitor-manager {
    margin-top: -11px;
}
.btn-warning {
    background-color: #a27440;
}
.left-side-bar .course-h5 a, .left-side-bar .course-python a,.left-side-bar .course-back a{
    color: black;

}
.left-side-bar .course-h5 a.header,.left-side-bar .course-python a.header,.left-side-bar .course-back a.header {
    font-weight: 700;
}
.add-course {
    margin-left: 10px;
}
/*增加课程按钮*/
.btn:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}